<a href="https://colab.research.google.com/github/seon219/beakjoon/blob/main/1%EB%8B%A8%EA%B3%84_%EC%9E%85%EC%B6%9C%EB%A0%A5%EA%B3%BC_%EC%82%AC%EC%B9%99%EC%97%B0%EC%82%B0ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Hello World

Hello World!를 출력하시오.

In [ ]:
print("Hello World!")

Hello World!

# 2. We love kriii

두 줄에 걸쳐 "강한친구 대한육군"을 한 줄에 한 번씩 출력한다.

In [ ]:
print("강한친구 대한육군")
print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

# 3. 고양이

아래 예제와 같이 고양이를 출력하시오.
```
\    /\
 )  ( ')
(  /  )
 \(__)|
```

In [ ]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

# 4. 개

아래 예제와 같이 개를 출력하시오.

```
|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|
```

In [ ]:
print("|\\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

# 5. A+B

- 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
- 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

In [ ]:
a = int(input("A를 입력하세요: "))
b = int(input("B를 입력하세요: "))

print(a+b)

A를 입력하세요: 1
B를 입력하세요: 2
3

In [6]:
n = list(input("띄어쓰기를 사용해서 A와 B를 입력하세요:").split())
s = int(n[0])+int(n[1])
print(s)

띄어쓰기를 사용해서 A와 B를 입력하세요:1 2
3

# 6. A-B

- 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.
- 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

In [7]:
n = list(input("띄어쓰기를 사용해서 A와 B를 입력하세요:").split())
s = int(n[0])-int(n[1])
print(s)

띄어쓰기를 사용해서 A와 B를 입력하세요:3 2
1

# 7. AxB

- 두 정수 A와 B를 입력받은 다음, AxB를 출력하는 프로그램을 작성하시오.
- 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

In [8]:
n = list(input("띄어쓰기를 사용해서 A와 B를 입력하세요:").split())
s = int(n[0])*int(n[1])
print(s)

띄어쓰기를 사용해서 A와 B를 입력하세요:1 2
2

# 8. A/B

- 두 정수 A와 B를 입력받은 다음, AxB를 출력하는 프로그램을 작성하시오.
- 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

In [9]:
n = list(input("띄어쓰기를 사용해서 A와 B를 입력하세요:").split())
s = int(n[0])/int(n[1])
print(s)

띄어쓰기를 사용해서 A와 B를 입력하세요:1 3
0.3333333333333333

# 9. 사칙연산

- 두 자연수 A와 B가 주어진다.
- A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오. 
- 두 자연수 A와 B가 주어진다. (1 ≤ A, B ≤ 10,000)

In [11]:
n = list(input("띄어쓰기를 사용해서 A와 B를 입력하세요:").split())
a = int(n[0])+int(n[1])
b = int(n[0])-int(n[1])
c = int(n[0])*int(n[1])
d = int(n[0])//int(n[1])
e = int(n[0])%int(n[1])
print(a)
print(b)
print(c)
print(d)
print(e)

띄어쓰기를 사용해서 A와 B를 입력하세요:7 3
10
4
21
2
1

# 10. 나머지

- (A+B)%C는 ((A%C) + (B%C))%C 와 같을까?
- (A×B)%C는 ((A%C) × (B%C))%C 와 같을까?
- 세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.
- 첫째 줄에 A, B, C가 순서대로 주어진다. (2 ≤ A, B, C ≤ 10000)

In [16]:
n = list(input("띄어쓰기를 사용해서 A와 B와 C를 입력하세요:").split())
a = (int(n[0]) + int(n[1])) % int(n[2])
b = ((int(n[0]) % int(n[2])) + (int(n[1]) % int(n[2]))) % int(n[2])
c = (int(n[0]) * int(n[1])) % int(n[2])
d = ((int(n[0]) % int(n[2])) * (int(n[1]) % int(n[2]))) % int(n[2])
print(a)
print(b)
print(c)
print(d)

띄어쓰기를 사용해서 A와 B와 C를 입력하세요:5 8 4
1
1
0
0

# 11. 곱셈

(세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.
![image.png]()

(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

In [1]:
a = int(input("숫자를 입력하세요: "))
b = list(input("숫자를 입력하세요: "))

b1 = a * int(b[2])
b2 = a * int(b[1])
b3 = a * int(b[0])

print(b1)
print(b2)
print(b3)
print(b1 + (b2 * 10) + (b3 * 100))

숫자를 입력하세요: 472
숫자를 입력하세요: 385
2360
3776
1416
181720