<a href="https://colab.research.google.com/github/seon219/beakjoon/blob/main/5%EB%8B%A8%EA%B3%84_1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 최소, 최대

- N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.
- 첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다.
- 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다.
- 첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.

In [2]:
n = int(input("정수의 개수를 입력하세요: "))
a = list(map(int, input("띄어쓰기를 사용하여 정수 리스트를 입력하세요:").split()))

print(min(a),  max(a))

정수의 개수를 입력하세요: 5
띄어쓰기를 사용하여 정수 리스트를 입력하세요:20 10 35 30 7
7 35

# 2. 최댓값

- 9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.
- 첫째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.
- 첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.

In [2]:
a = 0
b = 0

for i in range(9):
  n = int(input("정수를 입력하세요:"))
  if n > a:
    a = n
    b = i + 1
    
print(a)
print(b)

정수를 입력하세요:3
정수를 입력하세요:29
정수를 입력하세요:38
정수를 입력하세요:12
정수를 입력하세요:57
정수를 입력하세요:74
정수를 입력하세요:40
정수를 입력하세요:85
정수를 입력하세요:61
85
8

# 3. 문자의 개수

- 세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.
- 첫째 줄에 A, 둘째 줄에 B, 셋째 줄에 C가 주어진다.
- A, B, C는 모두 100보다 크거나 같고, 1,000보다 작은 자연수이다.
- 첫째 줄에는 A × B × C의 결과에 0 이 몇 번 쓰였는지 출력한다.
- 마찬가지로 둘째 줄부터 열 번째 줄까지 A × B × C의 결과에 1부터 9까지의 숫자가 각각 몇 번 쓰였는지 차례로 한 줄에 하나씩 출력한다.

In [4]:
a = int(input("정수를 입력하세요:"))
b = int(input("정수를 입력하세요:"))
c = int(input("정수를 입력하세요:"))

abc = str(a*b*c)
for i in range(10):
  n = abc.count(str(i))
  print(n)

정수를 입력하세요:150
정수를 입력하세요:266
정수를 입력하세요:427
3
1
0
2
0
0
0
2
0
0

# 4. 나머지

- 두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다. 
- 수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.
- 첫째 줄부터 열번째 줄 까지 숫자가 한 줄에 하나씩 주어진다
- 첫째 줄에, 42로 나누었을 때, 서로 다른 나머지가 몇 개 있는지 출력한다.

In [2]:
a=[]

for i in range(10):
  n = int(input("정수를 입력하세요:"))
  a.append(n % 42)

print(len(set(a))) # set 함수는 중복된 값 제거

정수를 입력하세요:1
정수를 입력하세요:2
정수를 입력하세요:3
정수를 입력하세요:4
정수를 입력하세요:5
정수를 입력하세요:6
정수를 입력하세요:7
정수를 입력하세요:8
정수를 입력하세요:9
정수를 입력하세요:10
10

# 5. 평균

- 점수 중 최댓값 M. 모든 점수를 점수/M*100
- 첫째 줄에 시험 본 과목의 개수 N이 주어진다. 
- 둘째 줄에 현재 성적이 주어진다.

In [4]:
b = 0
n = int(input("과목의 개수를 입력하세요: "))
a = list(map(int, input("띄어쓰기를 사용하여 점수를 입력하세요:").split()))

for i in range(n):
  s = a[i]/max(a)*100
  b = b + s

print(b/n)

과목의 개수를 입력하세요: 3
띄어쓰기를 사용하여 점수를 입력하세요:40 80 60
75.0

# 6. OX퀴즈

- 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다
- "OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점
- 첫째 줄에 테스트 케이스의 개수가 주어진다.
- 각 테스트 케이스는 한 줄로 이루어져 있고, 길이가 0보다 크고 80보다 작은 문자열이 주어진다.
- 문자열은 O와 X만으로 이루어져 있다.

In [ ]:
s = 0
n = int(input("케이스의 개수를 입력하세요: "))

for i in range(n):
  a = input("퀴즈 결과를 입력하세요:")
  for j in a:
    if j == 'O':
      s = s + 1
    else :
      s = s + 0
  print(int(s))

#7. 평균은 넘겠지

- 첫째 줄에는 테스트 케이스의 개수 C가 주어진다.
- 둘째 줄부터 각 테스트 케이스마다 학생의 수 N(1 ≤ N ≤ 1000, N은 정수)이 첫 수로 주어지고, 이어서 N명의 점수가 주어진다
- 각 케이스마다 한 줄씩 평균을 넘는 학생들의 비율을 반올림하여 소수점 셋째 자리까지 출력한다.

In [1]:
C = int(input("케이스의 개수를 입력하세요: "))

for i in range(C):
    n = list(map(int, input("띄어쓰기를 사용하여 학생 수와 점수를 입력하세요: ").split()))
    avg = sum(n[1:]) / n[0]
    
    a = 0
    for i in n[1:]:
        if i > avg:
            a += 1
            
    print(str("%.3f" %round((a/n[0])*100, 3))+"%")

케이스의 개수를 입력하세요: 5
띄어쓰기를 사용하여 학생 수와 점수를 입력하세요: 5 50 50 70 80 100
40.000%
띄어쓰기를 사용하여 학생 수와 점수를 입력하세요: 7 100 95 90 80 70 60 50
57.143%
띄어쓰기를 사용하여 학생 수와 점수를 입력하세요: 3 70 90 80
33.333%
띄어쓰기를 사용하여 학생 수와 점수를 입력하세요: 3 70 90 81
66.667%
띄어쓰기를 사용하여 학생 수와 점수를 입력하세요: 9 100 99 98 97 96 95 94 93 91
55.556%